* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
}

#navbar {
  font-size: 1.3em;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #ddd;
  border-bottom: #bbb solid 1px;
  margin-bottom: 45px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-form {
  height: 40px;
  font-size: 1em;
}

#select-location p {
  background-color: rgb(220, 110, 110);
  padding: 7px;
  margin: 8px 0px;
}

input.location-form {
  width: 200px;
  padding: 0px 5px;
}

#add-location {
  padding: 0px 10px;
  color: white;
  background-color: rgb(70, 110, 220);
}

footer {
  font-size: .8em;
  margin-top: 50px;
}

.location {
  width: 450px;
  height: 220px;
  border: #bbb solid 2px;
  margin: 10px;
}

div.location p {
  margin: 8px 0px;
}

div.location button {
  width: 20px;
  position: absolute;
  margin-left: 195px;
  margin-top: 5px;
  border-radius: 50%;
}

#title {
  width: 380px;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 35px;
}